body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #33cc99;
  --borderLightGrey: #e6ecf0;
  --greyText: #657786;
  --spacing: 15px;
}

header.wrapper {
  position: sticky;
  top: 0;
  z-index: 100000;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0 0 0 16px;
  line-height: 64px;
  box-shadow: 0 0 30px rgb(0 0 0 / 10%), 0 0 1px rgb(0 0 0 / 40%);
}

div .logo {
  width: 100px;
  height: 50px;
  margin: 5px;
}

div .logo img {
  width: 100%;
}

.midHeadContainer a,
.LoginContainer a {
  text-decoration: none;
  color: inherit;
}

.midHeadContainer a:hover,
.LoginContainer a:hover {
  background-color: transparent;
  color: var(--primary-color);
}

a.nav-item {
  padding: 15px;
}

footer.wrapper {
  margin-top: 13px;
  border-top: 1px solid #dee2e6;
}
.social-links {
  padding: 15px 15px 0;
}
.social-links a {
  font-size: 16px;
  padding: 6px 12px;
}

.fa-facebook-f {
  color: #3b5999;
}

.fa-instagram {
  color: #e4405f;
}

.fa-youtube {
  color: #cd201f;
}

.fa-twitter {
  color: #55acee;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0;
  color: var(--greyText);
}
